@{
    ViewBag.Title = "Главная страница";
}

<div class="jumbotron">
    <h1 class="note">Заметочник</h1>
    <p class="lead">Заметочник &mdash; это удобный сервис для создания и хранения Ваших заметок</p>    
    <div style="display: block;
            margin: 0 auto;
            width: 400px;">
        @Html.ActionLink("Регистрация", "Register", "Account", new { }, new { @class = "btn my-btn-orange" })
        @Html.ActionLink("Вход", "Login", "Account", new { }, new { @class = "btn my-btn-gray" })
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Календарь событий</h3>
        <p>
            Заметочник напомнит Вам о предстоящем событии, прислав уведомление на электронную почту &mdash; 
            просто укажите дату при создании заметки. С Заметочником Вы точно не пропустите важную поездку или день рождения любимой жены.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Друзья</h3>
        <p>Добавляйте друзей, делитесь своими заметками &mdash; ещё никогда это не было так просто.
           А если Вы храните что-то личное, скройте это от посторонних глаз с помощью одного клика мышью.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Мобильное приложение</h3>
            Совсем скоро* пользоваться Заметочником станет ещё удобнее! Вы сможете управлять Вашими заметками со своего телефона,
            а Заметочник автоматически синхронизирует все Ваши заметки при подключении к Интернету.
           <div style="font-size: 8px">*если ждать рядом с чёрной дырой</div>
    </div>    
</div>